<%- include('header') %>

<div class="page-header mt-3 ms-3">
    <h1 class="">Select an Off-Air channel!</h1>
</div>


<div class="m-4 p-2">
    <% data.channelsData.forEach(channel => { %>
        <div class="p-3 mb-3 channelBox col-sm-12 col-md-10 col-xl-8 col-xxl-6">
            <div style="display: flex; align-items: center; justify-content: space-between; ">
                <h3 class="mb-0"><%= channel.name %></h3>
                <div>
                    <a class="ms-2 btn btn-outline-danger" href="/startchannel/<%= channel.id %>">
                        Start Stream
                    </a>
                    <a class="ms-2 btn btn-outline-warning" href="/channel/<%= channel.id %>">
                        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                             class="button-icon">
                            <path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/>
                        </svg>
                        Edit
                    </a>
                </div>
            </div>
        </div>
    <% }) %>
</div>


<script>

</script>

<%- include('footer') %>